.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.alert {
	position: fixed;
	border-radius: 20px;
	top: 30vh;
	left: 25%;
	width: 50%;
	z-index: 100;
	overflow: hidden;
	border: white 2px solid;
	background-color: ghostwhite;
}

.content {
	padding: 1rem;
	text-align: center;
}

.okbtn {
	font: inherit;
	border-radius: 10px;
	background: #d3b9f4;
	color: white;
	padding: 0.25rem 1rem;
	cursor: pointer;
	margin: 10px 40% 10px 40%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.okbtn:hover,
.okbtn:active {
	background: #9b5de5;
	border-color: #9b5de5;
}
