* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body {
	font-family: "Lato", "Calibri";
}

.nav-list {
	margin-top: 20px;
}
.nav-item {
	height: 30px;
	padding: 15px;
	margin: 10px;
	float: right;
	position: relative;
	display: inline-block;
	background-color: lightgray;
	border-radius: 15px;
	font-size: 1.3em;
	color: white;
	text-decoration: none;
}

.nav-item:hover {
	background-color: lightcyan;
	color: grey;
	font-weight: 800;
}

.content-box {
	padding: 30px;
	width: 80vw;
	margin: 100px 50px 50px 50px;
	position: absolute;
	border-radius: 15px;
	border: 4px lightgray solid;
	background-color: lightcyan;
}
.App {
	text-align: center;
}

ul.procedures {
	flex-direction: column;
	list-style: bullet;
}

a {
}

h1 {
	font-size: 32px;
	color: darkgrey;
}
